@import './base.css';

canvas {
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  height: auto;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
